language: node_js

cache:
  directories:
    - ~/.npm

node_js:
  - "9"

git:
  depth: 1

script:
  - npm run build

deploy:
  provider: pages
  skip-cleanup: true
  keep-history: true
  github-token: $GITHUB_TOKEN
  local-dir: build
  target-branch: build
  fqdn: re-inventor.me
  on:
    branch: master
