.container {
  display: grid;
  grid-template-columns: 150px auto;
  grid-column-gap: 5px;
  max-width: 800px;
  max-height: 230px;
}

.details {
  display: flex;
  flex-direction: column;
  padding: 7px;
}

.image {
  width: 150px;
  height: auto;
  object-fit: cover;
  margin: 0;
}

.header {
  margin-bottom: 7px;
}

.date,
.category-label {
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.1em;

  font-size: 0.8em;
}

.date {
  color: #989898;
  font-weight: 400;
  margin-bottom: 7px;
}

.category-label {
  color: #0000ff;
  font-weight: 500;
}

.title {
  color: #000;
  display: block;
  font-weight: 500;
  font-size: 1.3em;
  margin: 0;
}

.description,
.footer {
  display: none;
}

@media screen and (min-width: 375px) {
  .title {
    margin-top: 0.15em;
    font-size: 1.5em;
  }
}

@media screen and (min-width: 425px) {
  .container {
    grid-template-columns: 180px auto;
  }

  .image {
    width: 180px;
  }

  .header span:not(:last-child)::after {
    content: '*';
    padding: 0 5px;
    line-height: 1em;
  }

  .date,
  .category-label {
    display: initial;
  }

  .main {
    flex: 1;
    margin-bottom: 15px;
  }

  .footer {
    margin-bottom: 3px;
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .date,
  .category-label {
    letter-spacing: 0.1em;
    font-size: 0.7em;
  }

  .title {
    font-size: 1.4em;
    line-height: 1.4em;
    margin-bottom: 0.5em;
  }

  .description {
    display: initial;
    font-size: 0.9em;
    font-weight: 400;
  }
}
