.container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(auto-fill, 290px);
  grid-row-gap: 30px;
}

@media screen and (min-width: 768px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto-fit, 290px);
    grid-column-gap: 30px;
    grid-column-end: span 3;
  }

  /* This selectors will select last child if it's not even (wow) */
  .item:last-child:not(:nth-child(even)) {
    grid-column-end: span 2;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }

  /* Disable magicfrom this point :c */
  .item:last-child:not(:nth-child(even)) {
    grid-column-end: auto;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    grid-template-columns: repeat(3, 370px);
    grid-template-rows: repeat(auto-fit, 370px);
  }
}
