:root {
  --primary-text-color: #ffffffce;
  --primary-text-color-hover: #e2e2e2ce;
  --primary-text-color-active: #b3b3b3ce;
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    opacity: 1;
  }
}

.App {
  font-family: sans-serif;
  text-align: center;

  will-change: transform;

  animation: 1.75s slide-up ease-in-out;
}

html {
  font-size: 1.3vw;
}

body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(#4ecdc4, #556270) no-repeat;

  margin: 0;
  padding: 0;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  color: var(--primary-text-color);
}

h1 {
  font-size: 5rem;
  font-weight: 900;
  line-height: 2em;
}

h2 {
  font-size: 1.3rem;
  font-weight: 500;
}

* {
  font-family: "Noto Sans HK";
  margin: 0;
}

.socials {
  margin: 1.5rem 0;
}

.social-link {
  outline: none;
  background: none;
  border: none;
  margin: 0 0.5rem;

  font-size: 1.5rem;

  color: var(--primary-text-color);
}

.social-link:hover {
  color: var(--primary-text-color-hover);
}

.social-link:active {
  color: var(--primary-text-color-active);
}
